### YamlMime:PowershellCmdlet
summary: |-
  Creates a new instance of Excel Services Application.
module: SharePointServer
notes: ""
syntaxes:
- >-
  New-SPExcelServiceApplication -ApplicationPool <SPIisWebServiceApplicationPoolPipeBind> [-Name <String>]
   [-AssignmentCollection <SPAssignmentCollection>] [-CachingOfUnusedFilesEnable] [-Confirm]
   [-CrossDomainAccessAllowed] [-Default] [-EncryptedUserConnectionRequired <EncryptedConnectionMode>]
   [-ExternalDataConnectionLifetime <Int32>] [-FileAccessMethod <FileAccessMethod>]
   [-LoadBalancingScheme <LoadBalancingScheme>] [-MemoryCacheThreshold <Int32>] [-PrivateBytesMax <Int32>]
   [-SessionsPerUserMax <Int32>] [-SiteCollectionAnonymousSessionsMax <Int32>]
   [-TerminateProcessOnAccessViolation] [-ThrottleAccessViolationsPerSiteCollection <Int32>]
   [-UnattendedAccountApplicationId <String>] [-UnusedObjectAgeMax <Int32>] [-WhatIf] [-WorkbookCache <String>]
   [-WorkbookCacheSizeMax <Int32>] [-UseEffectiveUserName] [-WorkbookModelUsageTracker <String>]
   [<CommonParameters>]
- >-
  New-SPExcelServiceApplication -ApplicationPool <SPIisWebServiceApplicationPoolPipeBind> [-Name <String>]
   [-AssignmentCollection <SPAssignmentCollection>] [-CachingOfUnusedFilesEnable] [-Confirm]
   [-CrossDomainAccessAllowed] [-Default] [-EncryptedUserConnectionRequired <EncryptedConnectionMode>]
   [-ExternalDataConnectionLifetime <Int32>] [-FileAccessMethod <FileAccessMethod>]
   [-LoadBalancingScheme <LoadBalancingScheme>] [-MemoryCacheThreshold <Int32>] [-PrivateBytesMax <Int32>]
   [-SessionsPerUserMax <Int32>] [-SiteCollectionAnonymousSessionsMax <Int32>]
   [-TerminateProcessOnAccessViolation] [-ThrottleAccessViolationsPerSiteCollection <Int32>]
   [-UnusedObjectAgeMax <Int32>] [-WhatIf] [-WorkbookCache <String>] [-WorkbookCacheSizeMax <Int32>]
   [-UnattendedServiceAccount <PSCredential>] [-UseEffectiveUserName] [-WorkbookModelUsageTracker <String>]
   [<CommonParameters>]
examples:
- title: '------------------EXAMPLE 1------------------'
  code: |-
    New-SPExcelServiceApplication -Name "MyExcelService" -ApplicationPool "SharePoint Services"
  description: |-
    This example creates a new instance of Excel Services Application with the display name MyExcelService.
  summary: ""
- title: '------------------EXAMPLE 2------------------'
  code: |-
    New-SPExcelServiceApplication -Name "My Excel Service" -ApplicationPool "SharePoint Services" -SessionsPerUserMax 5
  description: |-
    This example creates a new instance of Excel Services Application with the display name My Excel Service and allows only five sessions per user for each back-end application server computer that is running Excel Services Application.
  summary: ""
parameters:
- type: <xref href="SPIisWebServiceApplicationPoolPipeBind" data-throw-if-not-resolved="False" />
  name: ApplicationPool
  isRequired: true
  description: |+
    Specifies the existing IIS application pool to run the Web service in for the new Excel Service application.

    The type must be a valid SPIisWebServiceApplicationPool object.

  defaultValue: None
  pipelineInput: true
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="SPAssignmentCollection" data-throw-if-not-resolved="False" />
  name: AssignmentCollection
  description: |+
    Manages objects for the purpose of proper disposal.
    Use of objects, such as SPWeb or SPSite, can use large amounts of memory and use of these objects in Windows PowerShell scripts requires proper memory management.
    Using the SPAssignment object, you can assign objects to a variable and dispose of the objects after they are needed to free up memory.
    When SPWeb, SPSite, or SPSiteAdministration objects are used, the objects are automatically disposed of if an assignment collection or the Global parameter is not used.

    When the Global parameter is used, all objects are contained in the global store.
    If objects are not immediately used, or disposed of by using the `Stop-SPAssignment` command, an out-of-memory scenario can occur.

  defaultValue: None
  pipelineInput: true
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="SwitchParameter" data-throw-if-not-resolved="False" />
  name: CachingOfUnusedFilesEnable
  description: |+
    Specifies that files that are no longer used by Excel Services Application can remain in the cache for later use.
    The default is true when the parameter is not specified on the command.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="SwitchParameter" data-throw-if-not-resolved="False" />
  name: Confirm
  description: |+
    Prompts you for confirmation before executing the command.
    For more information, type the following command: `get-help about_commonparameters`

  defaultValue: None
  position: Named
  aliases: cf
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="SwitchParameter" data-throw-if-not-resolved="False" />
  name: CrossDomainAccessAllowed
  description: |+
    Specifies that trusted workbooks and data connection files can be requested and rendered by Web Parts or pages that reside in other HTTP domains.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="SwitchParameter" data-throw-if-not-resolved="False" />
  name: Default
  description: |+
    Specifies that the proxy for this service application is added to the default proxy group of the farm.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="EncryptedConnectionMode" data-throw-if-not-resolved="False" />
  name: EncryptedUserConnectionRequired
  description: |+
    Requires that encryption is used between the end user and the Excel Services Application server.
    The scope of this setting is the logical server.
    The default value is None.

    The type must be one of the following: None or Connection.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="Int32" data-throw-if-not-resolved="False" />
  name: ExternalDataConnectionLifetime
  description: |+
    Specifies the maximum number of seconds that an external data connection can remain open in the connection pool.
    Valid values include:

    -1  Never recycle

    1 to 2073600  Remain active 1 second to 24 days.

    The default value is 1800.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="FileAccessMethod" data-throw-if-not-resolved="False" />
  name: FileAccessMethod
  description: |+
    Specifies the authentication method that Excel Services Application uses to retrieve files.
    UseFileAccessAccount specifies that all workbooks always use the credentials of the service account running Excel Services Application.
    UseImpersonation specifies that Excel Services Application retrieves the workbook files as the user who is making the request.
    The default value is UseImpersonation.

    The type must be one of the following: UseImpersonation or UseFileAccessAccount.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="LoadBalancingScheme" data-throw-if-not-resolved="False" />
  name: LoadBalancingScheme
  description: |+
    Specifies the load-balancing schema that is used by the Excel Services Application Web service application for sending requests to different back-end computers that are running Excel Calculation Services.
    The default value is WorkbookURL.

    The type must be one of the following: RoundRobin, Local, or WorkbookURL.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="Int32" data-throw-if-not-resolved="False" />
  name: MemoryCacheThreshold
  description: |+
    Specifies the percentage of the maximum private bytes that can be allocated to inactive objects.
    When the memory cache threshold is exceeded, cached objects that are not currently in use are released.
    Setting this value to 0 disables caching of inactive objects.
    The default value is 90.

    The type must be an integer in the range of 0 to 95.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: Name
  description: |+
    Specifies a friendly name for the new Excel Services Application Web service application.
    The name that you use must be a unique name of an Excel Services Application Web service application that is in this farm.
    The name can be a maximum of 128 characters.
    The default value is Service_numofapplications+1.

    The type must be a valid string; for example, MyExcelServiceApp1.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="Int32" data-throw-if-not-resolved="False" />
  name: PrivateBytesMax
  description: |+
    Specifies the maximum private bytes, in megabytes, used by Excel Services Application.
    When set to -1, the maximum private bytes defaults to 50 percent of physical memory on the computer.
    Valid values include -1 for no limit, and any positive integer.
    The default value is -1.

    The type must be -1 or any positive integer.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="Int32" data-throw-if-not-resolved="False" />
  name: SessionsPerUserMax
  description: |+
    Specifies the maximum number of sessions allowed for a user.
    If a user reaches this maximum, the oldest session will be deleted when a new session is started.
    Valid values include -1 for no limit, and any positive integer.
    The default value is 25.

    The type must be -1 or any positive integer.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="Int32" data-throw-if-not-resolved="False" />
  name: SiteCollectionAnonymousSessionsMax
  description: |+
    Specifies the maximum number of anonymous sessions allowed per site collection.
    A value of 0 specifies that no anonymous sessions are allowed.
    Valid values include -1 for no limit, 0 to disable the setting, or any positive integer.
    The default value is 25.

    The type must be -1, 0, or any positive integer.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="SwitchParameter" data-throw-if-not-resolved="False" />
  name: TerminateProcessOnAccessViolation
  description: |+
    Terminates Excel Services Application when an access violation occurs in the process.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="Int32" data-throw-if-not-resolved="False" />
  name: ThrottleAccessViolationsPerSiteCollection
  description: |+
    Specifies that if a workbook causes an access violation error on Excel Services Application, all files that originate from that workbook's site collection are blocked from loading for the specified period (in seconds).
    Existing sessions for files on that site collection are unaffected.
    Valid values include 0 to disable the setting, and the range of 1 to 2073600 seconds (24 days).
    The default value is 0.

    The type must be an integer value in the range of 0 to 2073600.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: UnattendedAccountApplicationId
  description: |+
    Specifies that the application ID that is used to look up the unattended service account credentials from the secure store service specified by UnattendedAccountSecureServiceAppName.
    The secure store service is contacted when this parameter is set and specific error cases occur.
    Valid values are alphanumeric strings with a maximum of 256 characters.
    The default value is an empty string.

    The type must be a valid string of alphanumeric characters; for example, UnattendedServiceAccountID.

    The unattended account is a single account that all workbooks can use to refresh data.
    An unattended account is required when workbook connections specify None for authentication, or when any non-Windows credentials are used to refresh data.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="PSCredential" data-throw-if-not-resolved="False" />
  name: UnattendedServiceAccount
  description: |+
    {{Fill UnattendedServiceAccount Description}}

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="Int32" data-throw-if-not-resolved="False" />
  name: UnusedObjectAgeMax
  description: |+
    Specifies the maximum amount of time, in minutes, that objects not currently used in a session are kept in the memory cache.
    Valid values include -1 for no maximum setting, and a positive integer in the range of 1 to 34560 minutes (24 days).
    The default value is -1.

    The type must be -1, or an integer in the range of 1 to 34560.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="SwitchParameter" data-throw-if-not-resolved="False" />
  name: UseEffectiveUserName
  description: |+
    {{Fill UseEffectiveUserName Description}}

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="SwitchParameter" data-throw-if-not-resolved="False" />
  name: WhatIf
  description: |+
    Displays a message that describes the effect of the command instead of executing the command.
    For more information, type the following command: `get-help about_commonparameters`

  defaultValue: None
  position: Named
  aliases: wi
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: WorkbookCache
  description: |+
    Specifies the local file system location of the cache that is used for storing workbooks used by Excel Services Application.

    If no value is specified, then the default value is a subdirectory in the system temporary directory.

    The type must be a valid path in either of the following forms:

    -- C:\folder_name
    -- \\\\server_name\folder_name

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="Int32" data-throw-if-not-resolved="False" />
  name: WorkbookCacheSizeMax
  description: |+
    Specifies the maximum allowable size, in megabytes, of an individual session.
    The default value is 0.

    The type must be any positive integer.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: WorkbookModelUsageTracker
  description: |+
    {{Fill WorkbookModelUsageTracker Description}}

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - SharePoint Server 2010
  - SharePoint Server 2013
  parameterValueGroup: ""
applicable:
- SharePoint Server 2010
- SharePoint Server 2013
uid: SharePointServer.New-SPExcelServiceApplication
name: New-SPExcelServiceApplication
description: |-
  The `New-SPExcelServiceApplication` cmdlet creates a new Excel Services Application Web service application with new settings. 
  After you create a new Excel Services Application Web service application, you can use the `Set-SPExcelServiceApplication` cmdlet to modify the global settings of the new application.

  For permissions and the most current information about Windows PowerShell for SharePoint Products, see the online documentation at [SharePoint Server Cmdlets](https://learn.microsoft.com/powershell/sharepoint/sharepoint-server/sharepoint-server-cmdlets).
metadata:
  external help file: sharepointserver.xml
  Module Name: Microsoft.SharePoint.Powershell
  online version: https://learn.microsoft.com/powershell/module/sharepoint-server/new-spexcelserviceapplication
  applicable: SharePoint Server 2010, SharePoint Server 2013
  title: New-SPExcelServiceApplication
  PlatyPS schema version: 2.0.0
  author: techwriter40
  ms.author: pamgreen
  ms.reviewer: ""
